{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
<div class="nav-left">
    <span>BACK TO, <a href="{% url 'location' %}">LOCATIONS</a></span> |
</div>
<div class="nav-right">
    <form id="logout-form" action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">
            LOG OUT
        </button>
    </form>
</div>
{% endblock %}

{% block content %}
<div class="profile-container">
    <h2>Edit Profile</h2>
    <form method="post">
    {% csrf_token %}
        <table class="table table-borderless">
            {{ form.as_table }}
        </table>
        <div class="button-group">
            <button type="submit">Save</button>
            <a href="{% url 'user_detail' user.id %}" class="button">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script>
    // Only set default values for latitude and longitude when both are not set yet
    if (!document.getElementById("id_latitude").value && !document.getElementById("id_longitude").value) {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                function(position) {
                    document.getElementById("id_latitude").value = position.coords.latitude.toFixed(6);
                    document.getElementById("id_longitude").value = position.coords.longitude.toFixed(6);
                },
                function(error) {
                    console.warn("Error fetching location:", error.message);
                }
            );
        }
    }
</script>
{% endblock %}
