{% extends "base.html" %}

{% block title %}View Profile{% endblock %}

{% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
<div class="nav-left">
    <span>BACK TO, <a href="{% url 'location' %}">LOCATIONS</a></span> |
</div>
<div class="nav-right">
    <form id="logout-form" action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">
            LOG OUT
        </button>
    </form>
</div>
{% endblock %}

{% block content %}
<div class="profile-container">
    <h2>User's Profile</h2>
    <table class="table table-borderless user-info-table">
        <tr>
            <td class="label"><strong>Username:</strong></td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td class="label"><strong>Email:</strong></td>
            <td>{{ user.email|default:"-" }}</td>
        </tr>
        <tr>
            <td class="label"><strong>First Name:</strong></td>
            <td>{{ user.first_name|default:"-" }}</td>
        </tr>
        <tr>
            <td class="label"><strong>Last Name:</strong></td>
            <td>{{ user.last_name|default:"-" }}</td>
        </tr>
        <tr>
            <td class="label"><strong>Phone Number:</strong></td>
            <td>{{ user.phone_number|default:"-" }}</td>
        </tr>
        <tr>
            <td class="label"><strong>Address:</strong></td>
            <td>{{ user.address|default:"-" }}</td>
        </tr>
        <tr>
            <td class="label"><strong>Latitude:</strong></td>
            <td>{{ user.latitude|default:"-" }}</td>
        </tr>
        <tr>
            <td class="label"><strong>Longitude:</strong></td>
            <td>{{ user.longitude|default:"-" }}</td>
        </tr>
    </table>
    <div class="button-group">
        <a href="{% url 'user_change' user.id %}" class="button">Edit</a>
    </div>
</div>
{% endblock %}
